body {
	background-image: url(../images/bg-collection.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #61FFA1;
}

.main-container {
	margin: 5% auto;
	width: 70vw;
	background-color: #1A452B;
	text-align: center;
 	padding:0 0 2% 0;
}

.start {
	background-color: #000;
	font-size: 2em;
	color: #61FFA1;
	padding: 3vh 8vw;
	margin: 20vh auto;
	width: 5vw;
	border: #61FFA1 solid 2px;
	border-radius: 10px; 
}

.main-header {
  	font-size: 3em;
  	margin: 0 auto;
  	border: 1px solid #61FFA1;
  	border-top: none;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
  	background-color: #000;
  	padding: 3vh 1vw;
  	width: 80%;
  	padding: 1% 0;
}

.timeRemaining {
	font-size: 1.9em;
	padding: 2% 0;
}

.choices {
	margin: 0 auto;
}

.answerChoice {
	width: 60%;
	border-radius: 10px;
	padding: 2vh 0;
	margin: 0 auto;
	font-size: 1.4em;
}

.answerChoice:hover {
	background-color: #aaa;
	color: #1A452B;
	/*opacity: 20%;*/
}

.finished {
	margin: 2vh auto;
  width: 65%;
  padding: 1%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 8px;
	font-size: 3em;
}

.correct, .incorrect, .unanswered {
	margin: 2vh auto;
	font-size: 2em;
}

#playAgain {
	margin-bottom: 2vh;
}

@media screen and (max-width: 1296px) {
	

	.main-header {
  	font-size: 2em;
  	margin: 0 auto;
  	border: 1px solid #61FFA1;
  	border-top: none;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
  	background-color: #000;
  	padding: 3vh 1vw;
  	width: 80%;
  	padding: 2% 0;
}

	.timeRemaining {
		font-size: 1.2em;
		/*margin-top: 0;*/
	}

}
